<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>
    <link rel = "stylesheet" href = "/public/css/style.css">

    <nav class = 'menu'>
        <ul class = "topmenu">
            <li><a href="">Мои действия</a>
                <ul class = "submenu">
                    <li><a href="">Журнал посещений студентов</a></li>
                    <li><a href="">Отчет</a></li>
                    <li><a href="">Сменить пароль</a></li>
                    <li><a href="">Выход</a></li>
                </ul>
            </li>
            <li style = "font-weight: bold; color: white">Сотрудник деканата Имя Фамилия Отчество</li>
            <li><a href="/">Выход</a></li>
        </ul>
    </nav>
</head>
<body> 
    <form class = 'form' method="POST" action = "/">
        <div class = 'fon'>
            <label class = 'label'>Смена пароля</label>

            <input type = "text" name = "name" placeholder = "Введите старый пароль" class = 'input' required>
           
            <input type = "text" name = "password" placeholder = "Введите новый пароль" class = "input" required>
           
            <input type = "text" name = "password" placeholder = "Подтвердите пароль" class = "input" required>
           
            <div>
                <input type = "submit" value = "ОК" class = "button">
                <input type = "reset" value = "ОТМЕНА" class = "button">
            </div>
        </div>
    </form>
</body>
</html>