<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>
    <link rel = "stylesheet" href = "/public/css/style.css">
    
    <nav class = 'menu'>
        <ul class = "topmenu">
            <li><a href="#">Мои действия</a>
                <ul class = "submenu">
                   <% if(role == "староста") { %>
                        <li><a href="/visit">Журнал посещений студентов</a></li>
                        <li><a href='/report_st'>Отчет</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else if(role == "сотрудник деканата"){ %>
                        <li><a href="/report_dek">Отчет</a></li>
                        <li><a href="/students">Студенты</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else{ %>
                        <li><a href="/user">Пользователи</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } %>
                </ul>
            </li>
            <li style = "font-weight: bold; color: white"><%= role %> <%= name %></li>
            <li><a href="/">Выход</a></li>
        </ul>
    </nav>
</head>
<body> 
    <form class = 'form' method="POST" action = "/password">
        <div class = 'fon'>
            <label class = 'label'>Смена пароля</label>
            <% if(flag == 1){ %>                    
                <%= err %>
            <% } %>
            <input type = "text" name="password_alt" placeholder = "Введите старый пароль" class = 'input' required>
           
            <input type = "text" name = "password_new" placeholder = "Введите новый пароль" class = "input" required>
           
            <input type = "text" name = "password_new_replay" placeholder = "Подтвердите пароль" class = "input"> 
      
            <div>
                <input type = "submit" value = "ОК" class = "button">
                <input type = "reset" value = "ОТМЕНА" class = "button">
            </div>
          
        </div>
    </form>
</body>
</html>