<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel = "stylesheet" href = "/public/css/style.css">

    <nav class = 'menu'>
        <ul class = "topmenu">
            <li><a href="#">Мои действия</a>
                <ul class = "submenu">
                    
                   <% if(role == "староста") { %>
                        <li><a href="/visit">Журнал посещений студентов</a></li>
                        <li><a href='/report_st'>Отчет</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else if(role == "сотрудник деканата"){ %>
                        <li><a href="/report_dek">Отчет</a></li>
                        <li><a href="/students">Студенты</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else{ %>
                        <li><a href="/user">Пользователи</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } %>
                </ul>
            </li>
            <li style = "font-weight: bold; color: white"><%= role %> <%= name %></li>
            <li><a href="/">Выход</a></li>
        </ul>
    </nav>
</head>
<body> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script>
        function Report(){
            let pdf = new jsPDF();

            pdf.text("Report", 20, 20);

            pdf.save('report.pdf');
        }
    </script>
    <div class = 'center'>
        <h1 style="color: brown;">Отчетик</h1>
        <div style="padding-bottom: 10px;">
            <select id = "group_select">
                <option>Сентябрь</option>
                <option>Октябрь</option>
                <option>Ноябрь</option>
                <option>Декабрь</option>
                <option>Февраль</option>
                <option>Март</option>
                <option>Апрель</option>
                <option>Май</option>
            </select>
        </div>
        <div>
            <input onclick = 'Report()' type = "submit" value = "Сформировать отчет" class = "button_report">
        </div>
    </div>
</body>
</html>