<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel = "stylesheet" href = "/public/css/style.css">

    <nav class = 'menu'>
        <ul class = "topmenu">
            <li><a href="#">Мои действия</a>
                <ul class = "submenu">
                    
                   <% if(role == "староста") { %>
                        <li><a href="/visit">Журнал посещений студентов</a></li>
                        <li><a href='/report_st'>Отчет</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else if(role == "сотрудник деканата"){ %>
                        <li><a href="/report_dek">Отчет</a></li>
                        <li><a href="/students">Студенты</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else{ %>
                        <li><a href="/user">Пользователи</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } %>
                </ul>
            </li>
            <li style = "font-weight: bold; color: white"><%= role %> <%= name %></li>
            <li><a href="/">Выход</a></li>
        </ul>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" ></script>

</head>
<body> 
    <form method="get" action = "/report_dek">
    <div class = 'center'>
        <h1 style = "color: rgba(111, 111, 151, 0.911);">Отчет</h1>
        <div style="padding-bottom: 10px;">
            <input style="text-align:center" list = "group" name = "grp" id = "grp">
            <datalist id = "group">
                <option value="IDB-16-01"></option>
                <option value="IDB-16-02"></option>
                <option value="IDB-16-03"></option>
            </datalist>
            <br>
            <input style="text-align:center" list = "month" name = "mnth" id = "mnth">
            <datalist id = "month">
                <option value="Сентябрь"></option>
                <option value="Октябрь"></option>
                <option value="Ноябрь"></option>
            </datalist>
        </div>
        <div>
            <input onclick="OpenPage()" type = "submit" value = "Сформировать отчет" class = "button_report">
        </div>
    </div>
</form>

<script>
    function OpenPage() {
        win = window.open("report","Добавление студента","top=150,left=250,height=400,width=900");
       
    };
</script>

</body>
</html>