<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление студента</title>
    <link rel = "stylesheet" href = "/public/css/style.css">
    <link title="Статьи с сайта htmlbook.ru" > 
</head>
<body> 
   
    <form method="get" action = "/studentAdd">
        <div id = "formAddSrudent">
            <input type = "text" id = "famill" name = "famill" placeholder = "Группа" class = 'input' required > 
           
            <input type = "text" id = "fullname" name = "fullname" placeholder = "Фамилия" class = 'input' required>
            <input type = "text" id = "firstname" name = "firstname" placeholder = "Имя" class = 'input' required>
            <input type = "text" id = "lastname" name = "lastname" placeholder = "Отчество" class = 'input' required>
            <input type = "text" id = "kod" name = "kod" placeholder = "Направление" class = 'input' >
            <input onclick="OpenDelete()" id = "btn" type = 'submit' value = 'Сохранить' class = 'button'>
    </form>
    
    <script>
        function OpenDelete(){
            window.close()
        }
    </script>
</body>
</html>