<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление студентов</title>
    <link rel = "stylesheet" href = "/public/css/style.css">
</head>
<body> 
    <form name = "form" method="post" action = "/studentsDelete">
   
    <table class = 'table'>
        <tr>
            <th>№</th>
            <th>Фамилия, Имя, Отчество студента</th>
            <th>Удалить</th>
        </tr>
        
        <% arr.forEach((item) =>{ %>
       <tr>
           <td><%= item.ID %></td>
           <td><%= item.fullname  %></td>
           <td >
               <input type = "checkbox" id = "checkbox" name = "ch" value="Нет" checked>
             
               <!-- <input style="text-align:center" list = "check" name = "check" id = "ch">
                <datalist id = "check">
                    <option value="Да"></option>
                    <option value="Нет"></option>
                </datalist> -->
           </td>
       <% }); %>
       </tr>

       <tr>
    </table>

    <div class = 'knopka'>
        <input type = 'submit' value = 'Удалить' class = 'button' style="margin-right: 50px; margin-top: 25px;">
        <!-- <input onclick = "OpenDelete()"type = 'submit' value = 'Отмена' class = 'button' style="margin-top: 25px;"> -->
    </div>
</form>
    <script>
        function OpenDelete(){
            window.close()
        }
    </script>
</body>
</html>