<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel = "stylesheet" href = "/public/css/style.css">
    <nav class = 'menu'>
        <ul class = "topmenu">
            <li><a href="" >Мои действия</a>
                <ul class = "submenu">
                    <li><a href="">Журнал посещений студентов</a></li>
                    <li><a href="">Отчет</a></li>
                    <li><a href="">Сменить пароль</a></li>
                    <li><a href="">Выход</a></li>
                </ul>
            </li>
            <li><a href="">Сотрудник деканата Имя Фамилия Отчество</a>
            </li>
            <li><a href="">Выход</a>
            </li>
        </ul>
    </nav>
   
</head>
<body> 
    <form class = 'form' method="POST" action = "/">
        <div class = 'fon'>
            <label class = 'label'>Преподаватель</label>
            <div>
                <select id = "group_select">
                    <option>Название кафедры</option>
                    <option>Название кафедры</option>
                    <option>Название кафедры</option>
                </select>
                <br>
                <select id = "group_select">
                    <option>предмет</option>
                    <option>предмет</option>
                    <option>предмет</option>
                    <option>предмет</option>
                </select>
            </div>
            <div>
                <input class = 'object' type = "text" placeholder = "фио" required value="Гипермедийные среды и технологии">
            </div>
            <div>
                <input type = "submit" value = "Сохранить" class = "button">
                <input type = "reset" value = "Отменить" class = "button">
            </div>
        </div>
    </form>
</body>
</html>