<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление пользователей</title>
    <link rel = "stylesheet" href = "/public/css/style.css">
</head>
<body> 
    <form method="post" action = "/userDelete">
   
    <table class = 'table'>
        <tr>
            <th>№</th>
            <th>Фамилия, Имя, Отчество студента</th>
            <th>Логин</th>
            <th>Удалить</th>
        </tr>
        
        <% arr.forEach((item) =>{ %>
       <tr>
           <td><%= item.id %></td>
           <td><%= item.fullname  %></td>
           <td><%= item.login  %></td>
           <td>
                <input type = "checkbox" id = "checkbox" name = "chr" value="Нет" checked>
           </td>
       <% }); %>
       </tr>

       <tr>
    </table>

    <div class = 'knopka'>
        <input onclick = "OpenDelete()" type = 'submit' value = 'Удалить' class = 'button' style="margin-right: 50px; margin-top: 25px;">
    </div>
</form>
    <script>
        function OpenDelete(){
            window.close()
        }
    </script>
</body>
</html>