<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление пользователя</title>
    <link rel = "stylesheet" href = "/public/css/style.css">
</head>
<body> 
    <form method="get" action = "/userAdd">
    <div id = "formAddSrudent">
        <input type = "text" id = "group" name = "group" placeholder = "Группа" class = 'input' required>
        <input type = "text" id = "fullname" name = "fullname" placeholder = "Фамилия" class = 'input' required>
        <input type = "text" id = "name" name = "name" placeholder = "Имя" class = 'input' required>
        <input type = "text" id = "lastname" name = "lastname" placeholder = "Отчество" class = 'input' required>
        <input type = "text" id = "role" name = "role" placeholder = "Роль" class = 'input' required>
    </div>

    <div id = 'knopka'>
        <input onclick = "Save()" type = 'submit' value = 'Сохранить' class = 'button' style="margin-right: 50px; margin-top: 25px;">
    </div>
</form>
    <script>
        function Save(){
            window.close()
        }
    </script>
</body>
</html>