<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Посещения студентов</title>
    <link rel = "stylesheet" href = "/public/css/style.css">

    <nav class = 'menu'>
        <ul class = "topmenu">
            <li><a href="#">Мои действия</a>
                <ul class = "submenu">
                   <% if(role == "староста") { %>
                        <li><a href="/visit">Журнал посещений студентов</a></li>
                        <li><a href='/report_st'>Отчет</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else if(role == "сотрудник деканата"){ %>
                        <li><a href="/report_dek">Отчет</a></li>
                        <li><a href="/students">Студенты</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else{ %>
                        <li><a href="/user">Пользователи</a></li>
                        <li><a href="password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } %>
                </ul>
            </li>
            <li style = "font-weight: bold; color: white"><%= role %> <%= name %></li>
            <li><a href="/">Выход</a></li>
        </ul>
    </nav>
</head>
<body> 

<form name = "form1" method="post" action = "/visit">
    
    
    <table class = 'table'>
       <tr>
            <th colspan = '8' align = "center" name = "subject">Предмет 
                <input style="text-align:center" list = "subject" name = "subject" id = "sub">
                <datalist id = "subject">
                    <option value = "Гипермедийные среды и технологии"></option>
                </datalist>
            </th>
       </tr>
        
        <tr>
            <th rowspan= '2'>№</th>
            <th rowspan= '2'>Фамилия, Имя, Отчество студента</th>
            <th id = 'day'></th>
        </tr>

        <tr>
            <th><input style="text-align:center" type = "text" id = "day1" name = "day"></th>
        </tr>
        
        <% arr.forEach((item) =>{ %>
       <tr>
           <td><%= item.ID %></td>
           <td ><%= item.fullname %></td>
           <td align="center">
                <input style="text-align:center" list = "visit" name = "visit" id = "vis">
                <datalist id = "visit">
                    <option value="+"></option>
                    <option value="1/2"></option>
                    <option value="H"></option>
                    <option value="X"></option>
                </datalist>
            </td>
       </tr>
       <% }); %>
    </table>

    <div class = 'knopka'>
        <input type = 'submit' value = 'Сохранить' class = 'button'>
    </div> 

    <div class = "mark">
        <p>* информация по обозначениям</p>
        <p>+ - студент присутствовал на занятие</p>
        <p>1/2 - студент присутствовал на половине занятия</p>
        <p>H - студент отсутствовал на занятие</p>
        <p>X - перезачет/ предмета в этот день нет</p>
    </div>
</form>
    <script type="text/javascript">
            var d = new Date();
            var day = d.getDate();
            var month = d.getMonth() + 1;
            var year = d.getFullYear();
            
            
            if(day < 10){
                day = '0' + day;
            }

            if(month < 10){
                 month = '0' + month;
            }

            switch(d.getDay()){
                case 0: document.getElementById('day').innerHTML = "Воскресенье";
                    break;
                case 1: document.getElementById('day').innerHTML = "Понедельник";
                    break;   
                case 2: document.getElementById('day').innerHTML = "Вторник";
                    break;
                case 3: document.getElementById('day').innerHTML = "Среда";
                    break;
                case 4: document.getElementById('day').innerHTML = "Четверг";
                    break;
                case 5: document.getElementById('day').innerHTML = "Пятница";
                    break;
                case 6: document.getElementById('day').innerHTML = "Суббота";
                    break;
            }  

            //document.getElementById('day1').innerHTML = (day) + '.' + month + '.' + year;
            let dd = document.getElementById('day1').innerHTML = (day) + '.' + month + '.' + year;

            document.form1.day.value=dd;
          
            

    </script>
</body>
</html>

